
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.image_pth(options = { banner: true }) %>)">


  <h1><%= @cocktail.name %> </h1>

    <%= link_to @cocktail, method: :delete, data: { confirm: "#{@cocktail.name} will be deleted. Cool?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>

    <%= link_to edit_cocktail_path do %>
      <i class="fas fa-edit"></i>
    <% end %>

</div>


<div class="container">
  <div class="row p-5">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <h3 style="padding-left: 40px;">Ingredients</h3>
      <ul>
        <% @doses.each do |dose|  %>
          <li><strong><%= dose.ingredient.name %></strong>: <%= dose.description %>
            <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add an ingredient +", new_cocktail_dose_path(@cocktail) %>
    </div>
  </div>
</div>


<!--   <%# @doses.each do |dose| %>
    <h2><%#= dose.description %><%#=  dose.ingredient.name %></h2>
  <%# end %> -->

